<div class="sidebar-menu">
  <div class="sidebar-menu__header">
    <h2 class="sidebar-menu__title">Categories</h2>
  </div>

  <nav class="sidebar-menu__nav">
    {% assign categories = '' %}
    
    {% comment %}First, get all unique categories{% endcomment %}
    {% for collection in collections %}
      
      {% if  collection.metafields.custom.category != blank %}
        {% assign categories = categories | append: collection.metafields.custom.category | append: ',' %}
      {% endif %}
    {% endfor %}
    {% assign unique_categories = categories | split: ',' | uniq | sort %}
    
    {% comment %}Loop through unique categories{% endcomment %}
    {% for category in unique_categories %}
      <div class="sidebar-menu__category">
        <div class="sidebar-menu__category-header">
            {% if category == "Machine Parts" %}
                <a href="pages/machine-parts" class="sidebar-menu__collection-link">{{ category }}</a>
            {% else %}
                <a href="pages/torch-parts" class="sidebar-menu__collection-link">{{ category }}</a>
            {% endif %}
        </div>
        
        <div class="sidebar-menu__collections">
          {% comment %}Get collections for this category{% endcomment %}
          {% for collection in collections %}
            {% if collection.metafields.custom.category == category %}
              <div class="sidebar-menu__collection">
                {% if category == "Machine Parts" %}
                    <a href="{{ collection.url }}" class="sidebar-menu__collection-link">
                    {{ collection.title }}
                    </a>
                 {%else%}   
                    <span class="sidebar-menu__collection-title">{{ collection.title }}</span>
                {% endif %}
                <div class="sidebar-menu__products">
                    {% assign sorted_products = collection.products | sort: 'metafields.custom.sort_order' %}
                    {% for product in sorted_products %}
                        {% unless product.metafields.custom.aftermarket %}
                            <a href="{{ product.url }}" class="sidebar-menu__product-link">
                                {{ product.title }}
                            </a>
                         {%endunless%}   
                    {% endfor %}
                    {% assign has_aftermarket_products = false %}
                    {% for product in collection.products %}
                      {% if product.metafields.custom.aftermarket %}
                        {% assign has_aftermarket_products = true %}
                        {% break %}
                      {% endif %}
                    {% endfor %}
                    
                    {% if has_aftermarket_products %}
                      <div class="sidebar-menu__after-market-products">
                        After Market
                        {% assign sorted_products = collection.products | sort: 'metafields.custom.sort_order' %}
                        {% for product in sorted_products %}
                          {% if product.metafields.custom.aftermarket %}
                            <a href="{{ product.url }}" class="sidebar-menu__product-link">
                              {{ product.title }}
                            </a>
                          {% endif %}
                        {% endfor %}
                      </div>
                    {% endif %}
                  
                  
                   
                    
   
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </nav>
</div>